* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .movie {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    overflow: hidden;
  }
  
  @media screen and (min-width: 1024px) {
    .movie{
      width: 1024px;
      margin: 0 auto;
    }
  }